@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
/* Kranti section */
/* *{
    padding:0;
    margin:0;
    /* box-sizing: border-box; */
   
 nav{
    width: 100%;
    height: auto;
    /* background-color: #1cb19f; */
    background: linear-gradient(to left, #d6bcf9 20%, rgb(173, 135, 197) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top:0%;
 }
 #K-pdiv{
    margin-top: 200px;
 }
#kdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 50px;
    /* background-image: linear-gradient(white, rgb(212, 238, 255)); */
    font-family: "Open Sans", sans-serif;
    /* background-color: #0f7165; */
   
    box-sizing: border-box;
   
    width:100%;
    margin: auto;
    max-width: 1440px;
    height: 95px;
}
#kdiv #klocation{
  margin-bottom: 10px;
  margin-left: 0px;
}
#kdiv #klogo{
 margin-right: 0px;
 margin-left: 10px;
}
#kdiv #klocation h5{
    font-size: 18px;
    color: black;
}
#kdiv #klocation span{
    color: #7d26a9;
    font-size: 20px;
}
    
#kdiv #kinput{
    width:770px;
    position: relative;
    /* background-color: #7a519a; */
    box-sizing: border-box;
    margin-right: 80px;
}
#kdiv #kinput input{
    width:58em;
    padding:15px 50px;
    border-radius: 10px;
    border: 0.5px solid rgb(222, 222, 222);
}
#kdiv #kinput i{
    position: absolute;
    font-size: 20px;
    top:40%;
    left:30px;
    transform: translate(-50%, -50%);
}
#kdiv #kicons{
    display: flex;
    justify-content: center;
    align-items: center;
   margin-left: 10px;
   margin-bottom: 12px;
}
#kdiv #kicon1, #kicon2{
    margin:0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#kdiv #kicon1, #kicon2, a{
    margin-top: 2px;
    font-size: 15px;
    text-decoration: none;
    color:black;
}
#kdiv #kicons #kicon1, #kicon2, i{
    font-size: 18px;
    margin-top: 5px;
}
#kpopuplocation #kgps{
    width:350px;
    position: relative;
}
#kpopuplocation #kgps input{
    width:100%;
    padding:15px 50px;
    border-radius: 10px;
    border: 0.5px solid lightgrey;
    margin-left:20px;
    margin-top: 15px;
    background-color: rgb(243, 242, 242);
}
#kpopuplocation #kgps i{
    position: absolute;
    font-size: 15px;
    top:53%;
    left:50px;
    transform: translate(-50%, -50%);
}
#kpopuplocation{
    border:1px solid lightgrey;
    width:500px;
    height:400px;
    position: absolute;
    left:50%;
    margin-top: 20%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    display: none;
}
#kpopuplocation h3{
    text-align: center;
    margin-top: 20px;
}
#kpopuplocation .fa-xmark{
    position:relative;
    right:-470px;
    top:-25px;
    background-color: rgb(139, 139, 139);
    color:white;
    border-radius: 100%;
    padding:3px;
    font-size: 10px;
}
#kpopuplocation #klocationmark {
    display: flex;
    margin:20px;
    color:#FF3F71;
}
#kpopuplocation #klocationmark #kgpstext{
    margin: 0px 10px;
}
#kpopuplocation #klocationmark #kgpstext a{
    color:#FF3F71;
}
#kimagecontainer{
    width: 100%;
    margin: auto;
    margin-top: 110px;
    max-width: 1280px;
   
  
}
#kimagecontainer img{
    width:100%;
    /* display: block;
    margin: auto;
    */
    
    /* margin:114px 100px; */
}

/* Kranti section end */

/* Haresh section */
body {
  font-family: Arial, sans-serif;

}

.nav_h ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav_h ul li {
  display: inline;
  margin-right: 10px;
}

.container_h {
  width:55%;
  height:auto;
  padding: 20px;
  border-radius: 20px 0px 0px 20px;
}

.container_h input[type="tel"],
.container_h input[type="text"],
.container_h input[type="email"],
.container_h input[type="password"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.container_h button {
  width: 100%;
  padding: 10px;
  background-color: #ff3767;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.container_h button:hover {
  background-color: #ff6853;
}

.iogin_logo {
  width: 100px;
  height: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.LoginText_h{
  color: white;
  margin-top: -2px;
  
}
.loginP_h{
  text-align: center;
}
.container_h {
  /* Modern browsers */
  background: linear-gradient(to bottom, #460268 20%, white 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.mainsection_h{
  width: 800px;
  display: flex;
  /* border: 1px solid black; */
  margin:auto;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
  z-index: 1000;
}

.container_app_h{
  width: 40%;
  text-align: center;
  background: linear-gradient(to bottom, #ffcce8 20%, white 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 0px 20px 20px 0px;
}
.img_app_h{
  border: 1px solid black;
  width: 130px; /* Adjust width as needed */
  height: 130px; /* Adjust height as needed */
  border: 1px solid black;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  border-radius: 50%; /* Make it round */
  overflow: hidden; /* Ensure the image stays within the rounded div */

}

.img_app_h img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loginP_h{
  cursor: pointer;
}

/* Haresh section end */

/* Soumyadeep section */
/* Styles for card carousel */
.carousel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.cards {
    display: flex;
    transition: transform 0.5s ease; 
}

.card {
    flex: 0 0 calc(25% - 20px); 
    margin: 0 10px; 
    box-sizing: border-box; 
}

.card img {
    width: 100%;
    height: auto;
}

/* Styles for carousel navigation buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* Styles for explore by category */
.explore-categories {
    margin-top: 20px;
}

.category-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category {
    margin: 10px;
    text-align: center;
    max-width: 2000px; 
}

.category img {
    width: 162px;
    height: 200px;
    display: block;
    margin: auto;
    object-fit: contain;
    transition: transform 0.5s ease; 
}

.category img[alt="Fruits and Vegetables"],
.category img[alt="Atta, Rice and Dals"] {
    width: 282px; 
    height: auto; 
}

.category p {
    margin-top: 5px;
}

.category img:hover {
    transform: scale(1.05); 
}


@media screen and (max-width: 600px) {
    .category {
        max-width: 100%;
    }

    .category img {
        width: 80px;
        height: 80px;
    }
}

.headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.explore-heading {
    margin-right: auto; 
}
.see-all {
    font-size: 18px;
    color: #FF3269;
    text-decoration: none;
}
.back {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back:hover {
    background-color: #45a049; 
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.product-card img {
    width: 1560px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: transform 0.3s ease-in-out; /* Smooth transition effect */
}

.product-card img:focus {
    transform: scale(1.1); 
    outline: none; 
}

.product-card p {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}

/* Soumyadeep section end */

/* Adarsh section */

#adiv,#P-pdiv{
    
    width: 70%;
    max-width: 1180px;
    margin: 0 auto; 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: center; 
    /* position: relative; */


}
#P-pdiv{
    margin-top: 20px;
}
#paan-heading{
 margin-top: 100px;
 margin-left: 70px;
 font-family: "Ubuntu Sans Mono", monospace;
 font-weight: 600;
 /* position: fixed; */
}
.card,.p-card{
/* border: 2px solid black; */
padding: 4px;
}

.A-image-div,.p-image-div{
width: 240px;
height: 240px;
/* padding: 15px; */
box-sizing: border-box;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.A-image,.p-image{
width: 100%;
border-radius: 8px;
}
.A-title,.p-title{
font-size: 14px;
width: 240px;
height: 36px;
font-weight: 600;
}
.A-weight,.p-piece{
font-size: 13px;
color: #000000;
}
.A-price,.p-price{
font-size: 15px;
font-weight: 700;
}
.A-btn,.p-btn{
width: 96%;
display: block;
margin: auto;
margin-bottom: 5px;
padding: 8px;
background: none;
border: 1.5px solid #ff3268;
border-radius: 8px;
font-size: 13px;
font-weight: 600;
color: #ff3268;
cursor: pointer;

}
/* product details css file */
/* styles.css */


.product-container {
display: flex;
justify-content: center;
gap: 50px;
margin-top: 110px;
/* align-items: center; */
/* height: 100vh; */
}
.product-image {
margin-right: 20px;
width: 750px;
height: 650px;
/* background-color: #ff3268; */
margin-left: 50px;
}

.product-image img {
width: 100%;
height: 100%;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
border-radius: 10px;
}
.product-details {
/* text-align: left; */
font-family: "Open Sans", sans-serif;

}

#product-price{
font-size: 20px;
font-weight: 600;
margin-top: 30px;
}
#product-btn{
padding: 12px;
/* box-sizing: border-box; */
width: 115px;
height: 44px;
font-size: 16px;
color: aliceblue;
background-color: #ff3268;
border: none;
border-radius: 8px;
margin-top: 20px;
margin-bottom: 40px;
cursor: pointer;
}
#product-btn-back{
    /* display: none; */
    padding: 12px;
/* box-sizing: border-box; */
width: 115px;
height: 44px;
font-size: 16px;
color: aliceblue;
background-color: #ff3268;
border: none;
border-radius: 8px;
margin-top: 20px;
margin-bottom: 40px;
cursor: pointer;
}
/* product page [How it works portion] */
/* #product-static{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
} */
.product-static-div{
    display: flex;
    gap: 10px;
}
#product-static>h5{
    font-size: 20px;
    margin-top: 50px;
    font-family: "Open Sans", sans-serif;
    margin-left: 10px;
}
.product-static-div>img{
 width: 100px;
 height: 100px;
 /* border: 1px solid gray; */
 /* height: 80px; */
}
.product-static-div>div>h5{
font-size: 17px;
margin-bottom: 0px;
font-family: "Open Sans", sans-serif;
}
.product-static-div>div>p{
color:#958e9a;
margin-top: 10px;
font-family: "Open Sans", sans-serif;
}
/* cart css */
#A-cart-outer-container{
    width: 100%;
    height: auto;
    max-width: 1280px;
    margin: auto;
    position: relative;
}
#A-cart-upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    width: 540px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 70px;
    border-radius: 18px;
}
#A-cart-upper>button{
    border: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 95px;
    font-size: 14px;
    background-color: #7a519a;
    color: white;

}
#A-cart-upper>span{
    font-weight: 500;
    font-size: 18px;
}
#A-cart-image{
    width: 540px;
    height: 79px;
    display: block;
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 18px;
}
#A-cart{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
    /* border: 2px solid black; */
    border-radius: 18px;
    width: 540px;
    margin: auto;
    margin-top: 10px;
  
    padding: 10px;
    box-sizing: border-box;
   background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.A-title-cart{
    width: 190px;
    font-weight: 600;
}
.A-cart-div{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left: 20px;
    gap: 20px;
}
.A-image-cart-div{
    width: 100px;
    height: 100px;
    background-color: #ff3268;
}
.A-image-cart{
    width: 100px;
    height: 100px;
}
.A-cart-buttonDiv{
    background-color: #ff3268;
    color: aliceblue;
    font-size: 16px;
    border-radius: 10px;
   display: flex;
   gap: 8px;
   align-items: center;
}
.A-cart-button{
    background-color: #ff3268;
    padding: 10px;
    border: none;
    color: aliceblue;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
.A-cart-price{
    font-weight: 600;
    /* font-size: 14px; */
}
#A-cart-payment{
    background-color: #ff3268;
    display: block;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    padding: 14px;
    box-sizing: border-box;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: "Ubuntu Sans Mono", monospace;
    cursor: pointer;


/* Adarsh section end */

}
.A-cart-popup{
  visibility: hidden;
  width: 360px;
  height: 240px;
 background-color: aliceblue;
  /* margin: auto; */
 
 display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: absolute;
 top: 40%;
 left: 36%;
 margin: auto;
}
.A-cart-popup1{
    /* visibility: visible; */
    
    
}
.A-cart-popup>img{
    width: 140px;
    height: 140px;
    position: relative;
    top: -60px;
    margin-bottom: 0px;
   border-radius: 100%;
  
}
.A-cart-popup>h3{
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 0;
    position: relative;
    top: -50px;
}
.A-cart-popup>a{
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 20px;
    color: #000000;
    font-weight: 600;
    margin-top: 15px;
    position: relative;
    top: -50px;
  z-index: 1000;
}
.A-cart-popup>button{
    background-color: green;
    position: relative;
    top: -50px;
    width: 140px;
    margin: auto;
    
    padding: 12px;
    box-sizing: border-box;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: "Ubuntu Sans Mono", monospace;
    cursor: pointer;
}

/* Adarsh section end */

